.container{
  margin: 0 auto;
  max-width: 40em;
  width: 80%;
}

textarea{
  width: 100%;
}

input[type=submit]{
  display: block;
}

#comment-list{
  padding: 0px;
}
#comment-list li{
  list-style: none;
  display: block;
  padding: 10px;
  border-top: 1px solid #ccc;
}